
#div1, .bgContainer {
    width: 1200px;
    height: 600px;
}
/**
 选中节点效果
 */
@keyframes marchingants {
    to {
        stroke-dashoffset: 20;
    }
}
rect.strokedrect {
    stroke-dasharray: 10;
    animation: marchingants 1s forwards infinite linear;
}

.bgContainer {
    background: url(../img/bg.jpg);
}
.canvas{
    padding:0px;
}
/**
 线条动画
 */
path{
    stroke-dasharray: 0,1500;
    stroke-dashoffset: 0;
    -webkit-animation: polanim 3s   ;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:both ;
}
@-webkit-keyframes polanim {
    0% {
        stroke-dasharray: 0, 1500;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 1500, 0;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 0;
        stroke-dashoffset: 852;
    }
}

.polygon{
    transition: all .5s;
}
.show{
    opacity: 1;
}
.hide{
    opacity: 0;
}
.setting{
    background-color: #e6ebf5;
    width: 300px;
}
.setting .body{
    padding:10px;
}
.node-item{
    display: inline-block;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 15px;
}